@import url("https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

.material-symbols-rounded {
  font-variation-settings:
  'FILL' 1,
  'wght' 500,
  'GRAD' 0,
  'opsz' 48
}

* {
	box-sizing: border-box;
}

body, main {
	height: 100%;
	width: 100%;
}

body {
	padding: 0;
	margin: 0;
	font-family: 'Quicksand', sans-serif;
	background-color: white;

	/* background-color: #fafafa; */
	/* -webkit-tap-highlight-color: rgba(0, 0, 0, 0); */
}

header {
	padding: 1px;
	width: 100%;
	/* background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.8); */
	background-color: #f2f1ef;
	color: black;
	text-align: center;
}

/* .app-bar {
	display: flex;
}

.app-bar p {
	flex-basis: 80%;
}

.app-bar i {
	flex-basis: 20%;
	font-size: 40px;
	text-align: right;
	padding: 6px;
} */

footer {
	padding: 7px;
	text-align: center;
	width: 100%;
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.8);
	color: white;
}
